.user-card {
    list-style: none;
    background-color: AliceBlue;
    border: 2px solid Olive;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.user-card__item {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.user-card__item--little {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
    .user-card {
        transform: scale(0.9);
    }
}
